@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@plugin "daisyui" {
    themes: dark --default;
}

@font-face {
    font-family: 'Astonish';
    src: url('../../../public/fonts/custom/Astonish.ttf');
}

@theme {
    --font-astonish: 'Astonish';
    --font-space: 'Space Grotesk';
    --font-jakarta: 'Plus Jakarta Sans'
}

@plugin "daisyui/theme" {
    name: "mytheme";
    default: true;
    /* set as default */
    prefersdark: true;
    /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: dark;
    /* color of browser-provided UI */

    --color-base-100: #0e1112;
    --color-base-200: white;
    --color-base-300: black;
    --color-base-content: white;
    --color-primary: #d1fe17;
    --color-primary-content: black;
    --color-secondary: oklch(20% 0.05 240);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: #27292a;
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: white;
    --color-info-content: black;
    --color-success: #36e27b;
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: #CF6679;
    --color-error-content: oklch(98% 0.01 30);

    /* border radius */
    --radius-selector: 0.2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 0;
    --noise: 0;
}

input,
select {
    @apply outline-none focus:border-primary/50 bg-[#191b1c];
}

@theme {
    --color-danger: oklch(65% 0.3 30);
}